[project]
	description = srep - scheme-like grep using irregular expressions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeff Mickey (codemac)
[access "refs/for/refs/*"]
	read = group user/Jeff Mickey (codemac)
	push = group user/Jeff Mickey (codemac)
	label-Code-Review = -2..+2 group user/Jeff Mickey (codemac)
	label-Verified = -1..+1 group user/Jeff Mickey (codemac)
	rebase = group user/Jeff Mickey (codemac)
	removeReviewer = group user/Jeff Mickey (codemac)
	submit = group user/Jeff Mickey (codemac)
[access "refs/heads/*"]
	read = group user/Jeff Mickey (codemac)
	create = group user/Jeff Mickey (codemac)
	push = +force group user/Jeff Mickey (codemac)
	pushMerge = group user/Jeff Mickey (codemac)
[access "refs/tags/*"]
	push = +force group user/Jeff Mickey (codemac)
	pushTag = group user/Jeff Mickey (codemac)
	pushSignedTag = group user/Jeff Mickey (codemac)
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
[submit]
	action = fast forward only
	mergeContent = false
